body {
  overflow: hidden;
}

img {
  max-width: 600px;
  max-height: 600px;
  position: relative;
  z-index: -1;

}

h1, h2, h3 {
	font-family: 'Merriweather';
}

h2 {
	font-weight: 900;
	font-size: 50px;
}
.row {
  min-width: 400px;
}
.section p, .slide p {
	font-family: 'Open Sans';
	color: rgb(139, 139, 139);
	font-size: 16px;
}

.section hr {
    width: 140px;
    height: 1px;
    background: rgb(255, 143, 159);
	  margin-left: 0%;
  
}

.btn {
	font-size: 18px;
}

button[id="sidebarCollapse"] {
  font-size: 1.2rem;
  padding: 0;
}

.fullpage-wrapper {
	width: 100%!important;
	transform: none!important;
}

.fp-section {
	width: 100%!important;
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 0;
}

.fp-section.active {
	visibility: visible;
	opacity: 1;
	z-index: 1;
}


.form-control {
	font-size: 18px; 
}

* {
  margin: 0;
  padding: 0;
}

#chatbox {
position: relative;
width: 100%;
max-width: 700px;
min-width: 300px;
height: 100vh;
box-sizing: border-box;
}

.chat-head {
position: relative;
display: flex;
overflow: auto;
width: 100%;
height: 10vh;
min-height: 90px;
}

.chat-body {
position: relative;
overflow-y: scroll;
overflow-x: hidden;
height: 70vh;
min-height: 100px;

}

.chat-foot {
position: relative;
bottom: 0;
width: 100%;
height: 10vh;
}

hr {
  margin: 0;
}

#all_channels {
  width: 300px;
  background-color: rgb(223, 222, 222);
}

ul {
  list-style-type: none;
}

.sidebar-head {
  height: 10vh;
}

.optional, .optional i {
  visibility: hidden;
  color: rgb(168, 167, 167);
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0.9rem;
}

.outgoing-message:hover > .optional,
.outgoing-message:hover > .optional i,
.incoming-message:hover > .optional {
  visibility: visible;
}

.vertical-nav {
  min-width: 18rem;
  width: 18rem;
  height: 100vh;
  position: fixed;
  left: 0;
  transition: all 0.2s;
}

#channels {
  display: block;
  overflow-y: auto;
  height: 80vh;
}

.page-content {
  width: calc(100% - 18rem);
  margin-left: 18rem;
  transition: all 0.2s;
}

#sidebar.active {
  margin-left: -18rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -18rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 18rem;
    width: calc(100% - 18rem);
  }
  h2 {
    font-weight: 900;
	  font-size: 40px;
  }
}

.text-gray {
  font-size: 1.2rem; 
  color:gray;
}

.outgoing-message p {
  background: rgb(255, 143, 159);
	border-radius: 15px 15px 0px 15px;
	margin: 0;
  color: #fff;
  line-height: 1.2rem;
	padding: 10px 10px 10px 10px;
}

.incoming-message p {
  background: rgb(242, 242, 242);
	border-radius: 15px 15px 15px 0px;
	margin: 0;
  color: rgb(58, 58, 58);
  line-height: 1.2rem;
	padding: 10px 10px 10px 10px;
}

p[class="deleted"],
p[class="deleted mr-2"] {
  background: transparent;
  color: rgb(175, 174, 174);
  border: 1px solid rgb(199, 199, 199);
  font-style: italic;
}


i:hover,
i:focus,
i:active, 
.single-channel:hover,
.single-channel:focus,
.single-channel:active,
.nav-item.active h6 {
  color:rgb(255, 143, 159);
}

.single-channel {
  display: block;
  color:black;
}
.nav-item.active {
  border-radius: 15px 15px 15px 15px;
  background-color: rgb(242, 242, 242);
}

.single-channel > div {
  max-width: 17rem;
}

.channel-desc {
  font-size: 15px; 
  color: rgb(168, 167, 167);
}

.unread, .unread h6 {
  font-weight: bold; 
}
.opponent-name {
  color: rgb(129, 129, 129);
  font-weight: 600;
}

p[class="avatar text-center"] {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 25px;
  margin-bottom: 0;
  padding: 0;
  color: white;
  background-color: rgb(129, 129, 129);
  border-radius: 100px;
}

.username {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  padding: 0;
  color: white;
  background-color: rgb(255, 143, 159);
  border-radius: 100px;
  
}
.fa.fa-long-arrow-down {
  font-size: 2rem; 
  animation-duration: 3s;
  color: rgb(255, 143, 159);
}
.fa.fa-paper-plane {
  font-size: 1.9rem; 
  color: rgb(255, 143, 159);
}

.form-control:focus {
  border-color: #ced4da;
}

.fa.fa-circle {
  color: rgb(255, 143, 159);
  font-size: 0.8rem;
}

.btn.btn-primary {
  background-color: rgb(255, 143, 159);
  border-color: rgb(255, 143, 159);
  position: relative;
  z-index: 100;
}

.btn.btn-primary:focus,
.btn.btn-primary:active, 
.btn.btn-primary:active:hover {
  background-color: rgb(250, 98, 121);
  border-color: rgb(250, 105, 127);
}

.fa.fa-chevron-down {
  margin-top: 20px;
  display: block;
  -webkit-animation: pulse2 2s infinite;
  animation: pulse2 2s infinite;
  color: rgb(255, 143, 159);
  font-size: 1.7rem;
  cursor: pointer;
}
@-webkit-keyframes pulse2 {
  0% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
  }

  50% {
      -webkit-transform: translate(0, 10px);
      transform: translate(0, 10px);
  }
  100% {
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
  }
}