img {
    max-width: 600px;
}

h1, h2, h3, h4 {
	font-family: 'Merriweather';
}

h2 {
	font-weight: 900;
	font-size: 50px;
}

p {
	font-family: 'Open Sans';
	color: rgb(139, 139, 139);
	font-size: 12px;
}

hr {
    width: 140px;
    height: 1px;
	background: #ff7404;
	margin-left: 0%;
  
}

.btn {
	font-size: 18px;
}

.fullpage-wrapper {
	width: 100%!important;
	transform: none!important;
}

.fp-section {
	width: 100%!important;
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 0;
	/* transition: all 0.7s ease-in-out; */
}

.fp-section.active {
	visibility: visible;
	opacity: 1;
	z-index: 1;
}

.fp-controlArrow.fp-prev, .fp-controlArrow.fp-next {
	border-color: lightpink;
}

.form-control {
	font-size: 18px; 
}