html, body {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
  }
  
#chatbox {
position: relative;
width: 100%;
height: 100vh;
padding-top: 10vh;
padding-bottom: 10vh;
box-sizing: border-box;
}

.chat-head {
position: fixed;
top: 0;
width: 100%;
height: 10vh;
}

.chat-body {
position: relative;
overflow-y: scroll;
height: 80vh;
}

.chat-foot {
position: fixed;
bottom: 0;
width: 60%;
height: 10vh;
}

hr {
    margin: 0;
}

#all_channels {
    background-color: rgb(248, 255, 183);
    overflow-x: scroll;
    overflow-y: scroll;
}

ul {
    list-style-type: none;
}

.sidebar-head {
    height: 10vh;
    margin: 0px;
}

#user_name::before{
    content: "\f111"; /* a dot */
    color: rgb(11, 156, 11);
    margin-right: 6px;
    font-size: 0.8em;
    font-family: FontAwesome;
    display: inline-block; 
  }

.input {
    min-width: 500px;
}

#message {
    background-color: rgb(248, 248, 248);
}

.optional {
    visibility: hidden;
    color: rgb(168, 167, 167);
    margin-left: 20px;
    /* margin-bottom: 0; */
    font-size: 0.95rem;
}

.fa-trash-o {
    color: rgb(168, 167, 167);
    margin-left: 8px;
}
.single-message:hover > .optional {
    visibility: visible;
}

.fa-trash-o:hover {
    color: rgb(58, 57, 57);
}

p {
    margin-bottom: 1rem;
}

.active {
    font-weight: bold;
}

.deleted {
    color: rgb(180, 178, 178);
    font-style: italic;
}