{% extends "layout.html" %}

{% block tittle %}
Chat | {{ channel }}
{% endblock %}

{% block main %}
<div class="row flex-nowrap">
    <div id="all_channels" class="p-2 flex-grow-0 flex-shrink-0 bd-sidebar" style="min-width: 200px">
        <div class="col sidebar-head">
            <h4 >All channels</h4>
            <p id="user_name"></p>
        </div>
        <hr>
        <ul id="channel_panel" class="col py-3">
            {% for item in channels %}
                {% if item == channel %}
                <li class="single-channel active" data-name="{{ item }}">
                {% else %}
                <li class="single-channel" data-name="{{ item }}">
                {% endif %}
                    <a href="/channels/{{ item }}" style="color:rgb(37, 37, 37)"> 
                        # {{ item }}
                    </a>
                </li>
                
            {% else %}
                <i>There's no channel yet.</i>
            {% endfor %}
        </ul>
        <div>
            <a href="{{ url_for('new_channel') }}" style="color:rgb(54, 54, 54)">
                <i class="fa fa-plus-circle"></i> Create a new channel
            </a>
        </div>
     
    </div>

    <main class="p-2 flex-grow-1 flex-shrink-1 bd-content">
        <div id="chatbox" class=" text-left">
            <div class="col chat-head">
                <h2 id="channel_title">{{ channel }}</h2>
            </div>
            <hr>
            <div id="allmessages" class="col chat-body py-3">
                {% for message in messages %}  
                    <!-- Display trashbin and timestamp if available -->
                    {% if message.content != "Message has been deleted." %} 
                        <p id="{{ message.mess_id }}" class="single-message">
                            <b>{{ message.user }}:</b> {{ message.content }}   
                            <span id="timestamp">{{ message.timestamp }}</span>            
                            <a class="trashbin" value="{{ message.mess_id }}" href="#"><i class="fa fa-trash-o"></i></a>   
                        </p>
                    {% else %}
                        <p id="{{ message.mess_id }}" class="single-message">
                            <b>{{ message.user }}:</b> 
                            <span class="deleted">{{ message.content }}</span>  
                        </p>
                    {% endif %}

                <!-- Display welcome mess if there is a new channel -->
                {% else %}
                <p id="welcome">
                    <i>This is the beginning of <b>{{ channel }}</b> channel.</i>
                </p>
                
                {% endfor %}
            </div>

            <div id="type_message" class="col chat-foot">
                <form action="" method="post">
                    <div class="form-group d-flex bd-highlight">
                        <div class="p-2 flex-grow-1 bd-highlight">
                            <input autofocus autocomplete="off" class="form-control" id="message" name="message" 
                                placeholder="Type your message here" type="text">
                        </div>
                        <div class="p-2 bd-highlight">
                            <button id="send" class="btn btn-primary" type="submit">Send</button>   
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="{{ url_for('static', filename='channel.js') }}"></script>
{% endblock %}