{% extends "layout.html" %}

{% block tittle %}
{{ channel }}
{% endblock %}

{% block main %}
<div class="row flex-nowrap">
    <div class="vertical-nav border-right bg-white py-2" id="sidebar">
        <p class="text-gray font-weight-bold px-2 mx-3 mb-2">FLACK</p>
        <div class="chat-head align-items-center px-2 mx-3">
            <div class="col-md-3 px-0">
                <p class="username text-center">{{ user|first }}</p>
            </div>
            <div class="col-md-8 px-0">
                <h4 class="m-0 text-truncate" id="user_name">{{ user }}</h4>
                <p class="text-success">Online</p>
            </div>
        </div>
    
        <div id="channels" class="nav bg-white mb-0">
            <div class="d-flex justify-content-between px-2 mx-3">
                <h5 class="mr-1 mb-1" style="color: rgb(129, 129, 129)"><b>Channels</b></h5>
                <a href="{{ url_for('new_channel') }}" style="color:rgb(129, 129, 129)">
                    <i class="fa fa-plus-circle"></i>
                </a>
            </div>
            {% for item in channels %}
            {% if channel == item %}
            <a class="mx-3 nav-item single-channel active" data-name="{{ item }}" 
            href="/channels/{{ item }}" style="text-decoration: none;">
            {% else %}
            <a class="mx-3 nav-item single-channel" data-name="{{ item }}" 
            href="/channels/{{ item }}" style="text-decoration: none;">
            {% endif %}
                <div class="rounded-pill px-2 py-3">
                    <h6 id="{{ item }}">
                        {{ item }}
                    </h6>
                    <p class="mb-0 text-truncate">
                        Some description goes here. Some description goes here</p>
                </div>
            </a>
            {% else %}
                <p>There's no channel yet.</p>
            {% endfor %}
            
        </div>
        <div class="d-flex justify-content-center">
            
        </div>
        
    </div>


    <main class="page-content p-2" id="content">
        

        <div id="chatbox" class="d-flex flex-column">
            <!-- Toggle button -->
            <button id="sidebarCollapse" type="button" class="btn shadow-none align-self-start">
                <i class="text-gray fa fa-chevron-left" style="font-size: 1.4rem;"></i>
            </button> 
            <div class="chat-head align-items-center">
                <div>
                    <h4 id="channel_title" class="m-0">{{ channel }}</h4>
                    <p><i>Some description goes here. Some description goes here</i></p>
                </div>
            </div>
            <hr>
            <div id="allmessages" class="chat-body py-3">
                {% for message in messages %}
                    <div class="row my-2">
                        <!-- User's messages -->
                        {% if message.user == user %}
                        <div class="col-md-8 ml-auto">
                            <span id="{{ message.mess_id }}" 
                                class="d-flex justify-content-end outgoing-message">
                                <!-- For non-deleted message, display timestamp and trashbin -->
                                {% if message.content != "Message has been deleted." %}
                                    <span class="optional d-flex align-items-center">
                                        <a class="trashbin" value="{{ message.mess_id }}" href="#">
                                            <i class="mr-2 fa fa-trash-o"></i>
                                        </a>
                                        {{ message.timestamp }}
                                    </span>
                                    <p class="mr-2">{{ message.content }}</p>
                                {% else %}
                                    <p class="deleted mr-2">{{ message.content }}</p>
                                {% endif %}
                            </span>                           
                        </div>

                        <!-- Others' messages -->
                        {% else %}
                        <div class="col-md-8 mr-auto">
                            <span id="{{ message.mess_id }}" 
                                class="d-flex justify-content-start">
                                <span class="align-self-end mr-2">
                                    <p class="avatar text-center">{{ message.user|first }}</p>
                               
                                </span>
                                <span>    
                                    <span class="opponent-name mr-2">          
                                        {{ message.user }}
                                    </span>
                                    <span class="d-flex incoming-message" data-id="{{ message.mess_id }}">
                                        <!-- For non-deleted message, display timestamp -->
                                        {% if message.content != "Message has been deleted." %}
                                            <p>{{ message.content }}</p>
                                            <span class="optional align-self-center">
                                                {{ message.timestamp }}
                                            </span>
                                        {% else %}
                                            <p class="deleted">{{ message.content }}</p>
                                        {% endif %}
                                    </span>
                                </span>
                            </span>
                        </div>
                        {% endif %}
                    </div>

                <!-- Display welcome mess if this is a new channel -->
                {% else %}
                <p id="welcome">
                    <i>This is the beginning of <b>{{ channel }}</b> channel.</i>
                </p>
                {% endfor %}
            </div>

            <div id="type_message" class="chat-foot mt-auto mb-3">
                <form action="" method="post">
                    <div class="form-group d-flex">
                        <!-- <textarea id="message" name="message" class="form-control message"
                            placeholder="Write a message"></textarea> -->
                        <input autocomplete="off" class="form-control rounded-pill shadow-none" 
                            id="message" name="message" 
                            placeholder="Write a message" type="text">
                        <div class="">
                            <button id="send" class="btn send-message py-1 shadow-none" type="submit">
                                <i class="fa fa-paper-plane"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <!-- Remove-message Modal -->
    <div class="modal fade bd-example-modal-sm" id="remove-message-confirmation" tabindex="-1" role="dialog" aria-labelledby="remove-message-confirmationLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Remove message
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Do you want to remove this message?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button id="remove-message-confirmed" type="button" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div> 

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script id="ws_new_message" type="text/x-handlebars-template">

    <div class="row my-2">
        <!-- {% raw -%} -->
        {{#with data}}
        <!-- User's messages -->
        {{#if_eq user}}
        <div class="col-md-8 ml-auto">
            <span id="{{ mess_id }}" 
                class="d-flex justify-content-end outgoing-message">
                {{#unless content "Message has been deleted." }}
                    <span class="optional d-flex align-items-center">
                        <a class="trashbin" value="{{ mess_id }}" href="#">
                            <i class="mr-2 fa fa-trash-o"></i>
                        </a>
                        {{{ timestamp }}}
                    </span>
                    <p class="mr-2">{{{ content }}}</p>
                {{ else }}
                    <p class="deleted mr-2">{{{ content }}}</p>
                {{/unless}}
            </span>                           
        </div>

        <!-- Others' messages -->
        {{ else }}
        <div class="col-md-8 mr-auto">
            <span id="{{ mess_id }}" 
                class="d-flex justify-content-start">
                <span class="align-self-end mr-2">
                    <p class="avatar text-center">
                        {{#firstLetter user }} {{/firstLetter }}
                    </p>
                </span>
                <span>
                    <span class="opponent-name mr-2">          
                        {{{ user }}}
                    </span>
                    <span class="d-flex incoming-message" data-id="{{ mess_id }}">
                    {{#unless content "Message has been deleted." }}
                        <p>{{{ content }}}</p>
                        <span class="optional align-self-center">
                            {{{ timestamp }}}
                        </span>
                    {{ else }}
                        <p class="deleted">{{{ content }}}</p>
                    {{/unless}}
                    </span>
                </span>
            </span>
        </div>
        {{/if_eq}}
        {{/with}}
        <!-- {%- endraw %} -->
    </div>

</script>
<script src="{{ url_for('static', filename='channel.js') }}"></script>
{% endblock %}