{% extends "layout.html" %}

{% block tittle %}
{{ channel }}
{% endblock %}

{% block main %}
<div class="text-left">
    <div>
        <h2>{{ channel }}</h2>
        <hr>
        <div id="allmessages">
            {% for message in messages %}
            <p><b>{{ message.user }}</b>: {{ message.content }} ---- <i>{{ message.timestamp }}</i></p>
            {% endfor %}
        </div>
        
    </div>
    <hr>
    <div class="form-group">
        <input autofocus autocomplete="off" class="form-control" name="message" placeholder="Type your message here"
            type="text">
    </div>
    <button id="send" class="btn btn-primary" type="submit">Send</button>

</div>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="url_for('static', filename='channel.js')"></script>
{% endblock %}