{% extends "layout.html" %}

{% block tittle %}
All Channels
{% endblock %}

{% block main %}
<div>
    <h2>Available channels</h2>
    <ul>
        {% for channel in channels %}
            <li><a href="/channels/{{ channel }}">{{ channel }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('new_channel') }}">Create a new channel</a>
</div>

<script>
// Clear previous lastChannel value
window.addEventListener('unload', event => {
    localStorage.removeItem('last_channel')
});
</script>
{% endblock %}