{% extends "layout.html" %}

{% block tittle %}
New channel
{% endblock %}

{% block main %}
<div class="container-fluid col-4 col-md-4 col-xl-4 py-md-5 py-sm-5">
    <div class="py-5 text-left">
        <h4 class="p-2">Create A New Channel</h4>
        <form action="{{ url_for('new_channel') }}" method="post">
            <div class="form-group d-flex bd-highlight">
                <div class="p-2 flex-grow-1 bd-highlight">
                    <input autofocus autocomplete="off" class="form-control" id="channel_name" name="channel_name" 
                        placeholder="Your channel name" type="text">
                </div>
                <div class="p-2 bd-highlight">
                    <button id="new_channel" class="btn btn-primary" type="submit">Create</button>   
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('#new_channel').onsubmit = () => {
            if (document.querySelector('#channel_name').value.leng === 0) {
                alert("You must provide channel name.");
            }
            else if (document.querySelector('#channel_name').value.leng > 25) {
                alert("Channel name must not exceed 25 characters.");
            }

            // Stop form from submitting
            return false;
        };
    });

    // Clear previous lastChannel value
    window.addEventListener('unload', event => {
        localStorage.removeItem('last_channel')
    });
    
</script>
{% endblock %}