{% extends "layout.html" %}

{% block tittle %}
    Flack
{% endblock %}

{% block main %}
    {% if user %}
    <div class="container">
        <div class="row align-items-center p-5 my-5">
            <div class="col-lg-6 text-center">
                <div class="mb-4 animated fadeInDown delay-0.5s">
                    <h2>Welcome back, {{ user }}!</h2>
                    <h4 class="my-5">Shall we?</h4>
                    
                    <a href="{{ url_for('logout') }}">
                        <button class="btn btn-secondary btn-lg shadow-none rounded-pill mr-2">Log out</button>
                    </a> 
                    <a id="last_channel" href="{{ url_for('channels') }}">
                        <button class="btn btn-primary btn-lg shadow-none rounded-pill">Let's go</button>
                    </a>  
                         
                </div>
            </div>
    
            <div class="col-lg-6 ml-auto">
                <img src="../static/media/9.jpg" alt="" class="img-fluid animated fadeInDown delay-0.5s">
            </div>
        </div>
    </div>

    {% else %}
    <div id="fullpage" class="fullpage-wrapper">
        <div class="section zero">
            <div class="row align-items-end px-5 mx-5">
                <div class="col-lg-4 is-animated animated fadeIn delay-1s">
                    <div class="mb-4">
                        <h2>Let's get Flacking</h2>
                        <hr>
                        <p class="mt-4 pb-3">Sicilian-style dough tossed in our house-made bolognese sauce with pecorino & pancetta.
                            Sicilian-style dough tossed in our house-made bolognese sauce with pecorino & pancetta.
                        </p>
                        
                    </div>
                </div>
                <div class="col-lg-8 ml-auto animated fadeIn delay-1s">
                    <img src="../static/media/1.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="section first">
            <div class="row align-items-end px-5 mx-5">
                <div class="col-lg-4">
                    <div class="mb-4 is-animated">
                        <h2>No registration needed</h2>
                        <hr>
                        <p class="mt-4 pb-3">Sicilian-style dough tossed in our house-made bolognese sauce with pecorino & pancetta.
                            Sicilian-style dough tossed in our house-made bolognese sauce with pecorino & pancetta.
                        </p>
                       
                    </div>
                </div>
                <div class="col-lg-8 ml-auto">
                    <img src="../static/media/2.jpg" alt="" class="img-fluid  ">
                </div>
            </div>
        </div>
        <div class="section second">
            <div class="row align-items-end px-5 mx-5">
                <div class="col-lg-4">
                    <div class="mb-4 is-animated">
                        <h2>It's simple. It's free.</h2>
                        <hr>
                        <p class="mt-4 pb-3">Sicilian-style dough tossed in our house-made bolognese sauce with pecorino & pancetta.
                            Sicilian-style dough tossed in our house-made bolognese sauce with pecorino & pancetta.
                        </p>
                 
                    </div>
                </div>
                <div class="col-lg-8 ml-auto">
                    <img src="../static/media/4.jpg" alt="" class="img-fluid  ">
                </div>
            </div>
        </div>
        <div class="section third">
            <div class="slide" data-anchor="firstSlide">
                <div class="row align-items-end px-5 mx-5">
                    <div class="col-lg-4">
                        <div class="mb-4 is-animated">
                            <h2>Join chats all over the world</h2>
                            <hr>
                            <p class="mt-4">Sicilian-style dough tossed in our house-made bolognese sauce with pecorino & pancetta.
                                Sicilian-style dough tossed in our house-made bolognese sauce with pecorino & pancetta.
                            </p>
                            <button id="get-started" class="btn btn-primary shadow-none rounded-pill mt-3">Get Started</button>
                        </div>
                    </div>
                    <div class="col-lg-8 ml-auto">
                        <img src="../static/media/3.jpg" alt="" class="img-fluid  ">
                    </div>
                </div>
            </div>
            <div class="slide" data-anchor="secondSlide">
                <div class="row justify-content-center px-5 mx-5">
                    <div class="col-lg-8">
                        <h2>Before we go...</h2>
                        <h3>Please tell us your name</h3>
                        <form action="{{ url_for('login') }}" method="post">
                            <div class="form-group d-flex bd-highlight">
                                <div class="py-4 flex-grow-1 bd-highlight">
                                    <input id="name" autofocus autocomplete="off" class="form-control rounded-pill shadow-none" name="name" 
                                    placeholder="What should we call you?" type="text">
                                </div>
                                <div class="px-2 py-4 bd-highlight">
                                    <button id="go" class="btn btn-primary shadow-none rounded-pill" type="submit">Go</button>
                                </div>       
                            </div>
                        </form>
                    </div>
                
                    <div class="col-lg-5">
                        <img src="../static/media/8.jpg" alt="" class="img-fluid  ">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endif %}
    <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}
