{% extends "layout.html" %}

{% block tittle %}
Welcome!
{% endblock %}

{% block main %}
<div class="container-fluid col-4 col-md-4 col-xl-4 py-md-5 py-sm-5">
    <div class="py-5 text-center" style="min-width: 400px">
        {% if not user %}
        <h2 class="pb-4">Welcome!</h2>
        <form action="{{ url_for('login') }}" method="post">
            <div class="form-group d-flex bd-highlight">
                <div class="p-2 flex-grow-1 bd-highlight">
                    <input id="name" autofocus autocomplete="off" class="form-control" name="name" 
                    placeholder="Input your name here" type="text">
                </div>
                <div class="p-2 bd-highlight">
                    <button id="start" class="btn btn-primary" type="submit">Start</button>
                </div>       
            </div>
        </form>

        {% else %}
        <h2 class="pb-4">Welcome back, {{ user }}!</h2>
        <a href="{{ url_for('channels') }}">
            <button class="btn btn-primary">Start</button>
        </a>
 
        {% endif %}
    </div>
</div>

<script>
    // Redirect to last channel if this is not the first visit
    // if (localStorage.getItem('last_channel')) {
    //     window.location.replace(localStorage.getItem('last_channel'));
    //     // Clear previous lastChannel value
    //     localStorage.removeItem('last_channel');
    // }

    // By default, Start button is disabled
    const start = document.querySelector('#start');
    start.disabled = true;
    
    // Enable Start button only if there is text in the input field
    const name = document.querySelector('#name');
    document.querySelector('#name').onkeyup = () => {
        if (name.value.length > 0)
            start.disabled = false;                       
        else
            start.disabled = true;
    };

</script>
{% endblock %} 