{% extends "layout.html" %}

{% block tittle %}
Welcome!
{% endblock %}

{% block main %}
<div class="text-center">
    <h2 class="pb-4">Welcome!</h2>
    <div id="name-no-exists" style="display: none">
        <div class="form-group">
            <input id="name" autofocus autocomplete="off" class="form-control" name="name" 
                placeholder="Input your name here" type="text">       
        </div>
        <a href="{{ url_for('channels') }}">
            <button id="start" class="btn btn-primary">Start</button>
        </a>
    </div>
    
    <div id="name-exists">
        <a href="{{ url_for('channels') }}">
            <button class="btn btn-primary">Start</button>
        </a>
    </div>
   
</div>

<script>
    // Redirect to last channel if this is not the first visit
    if (localStorage.getItem('last_channel')) {
        // Only show Welcome
        document.querySelector('#name-no-exists').style.display = "none";
        document.querySelector('#name-exists').style.display = "none";
        
        // // This is a function that redirect to last channel
        // function reDirect () {
        //     window.location.replace(localStorage.getItem('last_channel'));
        //     // Clear previous lastChannel value
        //     localStorage.removeItem('last_channel');
        // };
        // Stay in page for 2 sec before redirect to last channel
        document.addEventListener ('DOMContentLoaded', setTimeout( () => {
            window.location.replace(localStorage.getItem('last_channel'));
            // Clear previous lastChannel value
            localStorage.removeItem('last_channel');
        }
        , 2000));     
    };

    // No last channel: Display form to acquire name if this is the first time, else no form
    if (!localStorage.getItem('name')) {
        document.querySelector('#name-no-exists').style.display = "block";
        document.querySelector('#name-exists').style.display = "none";
        
        document.addEventListener('DOMContentLoaded', () => {
            
            // By default, Start button is disabled
            const start = document.querySelector('#start');
            start.disabled = true;
            
            // Enable Start button only if there is text in the input field
            const name = document.querySelector('#name');
            document.querySelector('#name').onkeyup = () => {
                if (name.value.length > 0)
                    start.disabled = false;                       
                else
                    start.disabled = true;
            };

            // Save name
            start.onclick = () => {
                localStorage.setItem('name', name.value);
            };
        });
    }

    else {
        document.querySelector('#name-exists').style.display = "block";
    }

</script>
{% endblock %}